{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <twig:Title>Log in!</twig:Title>
    <twig:Center>
        <div class="form-login mt-20">
            <form method="post" class="form">
                {% if error %}
                    <div class="text-red-700 mb-5">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a
                                href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="mb-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mt-1 w-full"
                           autocomplete="email" required autofocus>
                </div>

                <div class="mb-6">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="mt-1 w-full"
                           autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-10">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <div class="text-center">
                    <twig:Button tag="button">Sign in</twig:Button>
                </div>
            </form>
        </div>
    </twig:Center>
{% endblock %}
