
{% set settingProperty = attribute(projectSettings, property) %}

<tr>
    <th class="text-start">{{ name }}</th>
    <td class="text-center">
        {% if settingProperty %}

            {% if property == 'domain' %}

                {{ settingProperty }}

            {% elseif property == 'newsletter' %}

                {{ projectSettings.newsletter ? projectSettings.newsletter.provider : 'Not set' }}

            {% else %}

                <a
                        class="text-sm text-blue-500 hover:underline"
                        href="{{ urlPrefix }}{{ settingProperty.id }}">
                    {{ urlPrefix }}{{ settingProperty.id }}
                </a>

            {% endif %}

        {% else %}
            Not set
        {% endif %}
    </td>
    <td class="text-end">
        {% if settingProperty %}
            <twig:Button
                    genre="lightBlueWhite"
                    href="{{ editAction }}"
            >Edit</twig:Button>
        {% else %}
            <twig:Button
                    genre="lightBlueWhite"
                    href="{{ createAction }}"
            >Create</twig:Button>
        {% endif %}
    </td>
</tr>
