
{% set settingProperty = attribute(projectSettings, property) %}

<tr>
    <th class="text-start">{{ name }}</th>
    <td class="text-center">
        {% if settingProperty %}
            <a href="{{ urlPrefix }}{{ settingProperty.id }}">
                {{ settingProperty.id }}
            </a>
        {% else %}
            Not set
        {% endif %}
    </td>
    <td class="text-end">
        {% if settingProperty %}
            <twig:Button
                    genre="lightBlueWhite"
                    href="{{ editAction }}"
            >Edit</twig:Button>
        {% else %}
            <twig:Button
                    genre="lightBlueWhite"
                    href="{{ createAction }}"
            >Create</twig:Button>
        {% endif %}
    </td>
</tr>
