{% extends 'base.html.twig' %}

{% block body %}
    <twig:Center>
        <div class="w-1/2" {{ stimulus_controller('local_storage') }}>
            <div class="mt-10">
                <h3>{{ project.name }}</h3>
                <h4>Landing page configuration</h4>
            </div>

            <div
                    id="markdown-editor"
                    {{ stimulus_controller('markdown_editor') }}
            >

                {{ form_start(form, {
                    'attr': {
                        'data-controller': 'statefull-form',
                        'data-action': 'keyup->statefull-form#saveState change->statefull-form#saveState',
                    }
                }) }}

                <div class="flex">
                    <div class="landing-page mt-10 w-full">
                        {{ form_rest(form) }}
                    </div>

                    <aside class="landing-page-aside ml-10 flex-shrink-0">
                        {{ include('settings/_aside.html.twig') }}
                    </aside>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </twig:Center>
{% endblock %}
