{% extends 'base.html.twig' %}

{% block body %}

    <twig:Title>Contact</twig:Title>
    <twig:Center>
        <div class="form-contact w-full px-5 lg:w-1/2 max-w-screen-md">

            <p class="mt-5 mb-10 text-gray-400">
                {{ 'contact.information'|trans }}
            </p>

            {{ form_start(form, {
                'attr': {
                    'class': 'form'
                },
            }) }}
            <div class="grid grid-cols-2 gap-4">
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
            </div>

            {{ form_row(form.subject) }}
            {{ form_row(form.message) }}

            <div class="text-center">
                <twig:Button tag="button">Send</twig:Button>
            </div>

            {{ form_end(form) }}

        </div>
    </twig:Center>

{% endblock %}
