{% extends 'base.html.twig' %}

{% block body %}

    <twig:Center class="mt-20">
        <div class="form-contact w-full px-5 lg:w-1/2 max-w-screen-md">

            <h1 class="text-2xl text-center">Contact</h1>
            <p class="mt-5 mb-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis felis justo. Curabitur ex nunc,
                sagittis non erat ut,
                hendrerit volutpat enim. Fusce pulvinar mattis orci, eu viverra orci pharetra et.
            </p>

            {{ form_start(form) }}
            <div class="grid grid-cols-2 gap-4">
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
            </div>

            {{ form_row(form.subject) }}
            {{ form_row(form.message) }}

            <div class="text-center">
                <twig:Button tag="button">Send</twig:Button>
            </div>

            {{ form_end(form) }}

        </div>
    </twig:Center>

{% endblock %}
