{% extends 'base.html.twig' %}

{% block body %}
    <twig:Center>
        <div class="w-1/2" {{ stimulus_controller('local_storage') }}>
            <div class="mt-10">
                <h3>{{ project.name }}</h3>
                <h4>Landing page configuration</h4>
            </div>

            <div
                    id="markdown-editor"
                    {{ stimulus_controller('markdown_editor') }}
            >

                {{ form_start(form) }}

                <div class="flex" {{ stimulus_controller('tab_manager') }}>

                    <div class="landing-page mt-10 w-full">

                        {{ form_errors(form) }}

                        <div id="base" class="tab hidden">
                            {{ form_row(form.base) }}
                        </div>
                        <div id="hero" class="tab hidden">
                            {{ form_row(form.hero) }}
                        </div>
                        <div id="about" class="tab hidden">
                            {{ form_row(form.about) }}
                        </div>
                    </div>

                    <aside class="landing-page-aside ml-10 flex-shrink-0">
                        {{ include('settings/landing/_aside.html.twig') }}
                    </aside>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </twig:Center>
{% endblock %}
