<nav {{ attributes.defaults({class: "bg-gray-200 sticky top-0 bg-opacity-90 pt-5 pb-5 z-10 drop-shadow-xl"}) }}>
    <div
            class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 px-10"
            data-controller="mobile-menu"
    >

        <twig:Header:LogoAndName>Global Project Database</twig:Header:LogoAndName>
        <twig:Header:MobileMenuButton data-action="click->mobile-menu#toggle"/>


        <!-- Desktop menu -->
        <div
                class="hidden flex flex-col md:block md:grow md:flex md:flex-row"
        >
            <div class="grow flex items-center justify-end">
                <twig:Header:NavLink href="{{ path('app_about') }}">About</twig:Header:NavLink>
                <twig:Header:NavLink href="{{ path('app_project_list') }}">Database</twig:Header:NavLink>
                <twig:Header:NavLink href="{{ path('app_contact') }}">Contact</twig:Header:NavLink>
            </div>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="ml-4 flex items-center md:ml-6">
{#                    <twig:Header:NotificationButton/>#}
                    <twig:Header:Profile/>
                </div>

            {% else %}
                <div class="ml-10 space-x-3">
{#                    <a href="{{ path('app_login') }}"#}
{#                       class="border border-2 px-4 py-2 rounded-lg border-green-200 text-green-600 hover:bg-green-200 hover:text-blue-500 bg-green-100 drop-shadow-xl"#}
{#                    >Sign in</a>#}
{#                    #}
{#                    <a href="{{ path('app_register') }}"#}
{#                       class="border border-2 px-4 py-2 rounded-lg border-blue-200 bg-blue-100 text-blue-600 hover:bg-blue-400 hover:text-yellow-100 drop-shadow-xl"#}
{#                    >Register</a>#}

                    <twig:Button href="{{ path('app_login') }}"
                                 genre="lightOutline"
                                 class="hover:bg-green-300 hover:text-blue-500"
                    >Sign in</twig:Button>
                    <twig:Button href="{{ path('app_register') }}"
                                 genre="lightOutline"
                                 class="hover:bg-blue-500 hover:text-yellow-100"
                    >Register</twig:Button>
                </div>
            {% endif %}
        </div>


        <!-- Mobile menu -->
        <div
                class="hidden w-full"
                data-mobile-menu-target="menu"
        >
            <div class="flex flex-wrap flex-col space-y-1 px-2 pb-3 pt-2 sm:px-3">
                <twig:Header:NavLink href="{{ path('app_about') }}" class="hover:bg-gray-100 hover:rounded hover:border-b-0">About</twig:Header:NavLink>
                <twig:Header:NavLink href="{{ path('app_project_list') }}" class="hover:bg-gray-100 hover:rounded hover:border-b-0">Database</twig:Header:NavLink>
                <twig:Header:NavLink href="{{ path('app_contact') }}" class="hover:bg-gray-100 hover:rounded hover:border-b-0">Contact</twig:Header:NavLink>
            </div>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="flex items-center border-t border-gray-400 pt-4">
                    <div class="flex-shrink-0 grow">
                        <twig:Header:Profile/>
                    </div>
{#                    <div class="flex-shrink-0">#}
{#                        <twig:Header:NotificationButton/>#}
{#                    </div>#}
                </div>

                <div class="flex flex-col space-y-2 px-2 pt-2 sm:px-3 mt-3">
                    <a href="{{ path('app_logout') }}"
                       class="border border-2 px-4 py-2 rounded-lg border-red-200 text-red-600 hover:bg-red-200 hover:text-blue-500 bg-red-100 drop-shadow-xl"
                    >Sign out</a>

            {% else %}

                <div class="flex flex-col space-y-3 px-2 pt-2 sm:px-3">
                    <a href="{{ path('app_login') }}"
                       class="border border-2 px-4 py-2 rounded-lg border-green-200 text-green-600 hover:bg-green-200 hover:text-blue-500 bg-green-100 drop-shadow-xl"
                    >Sign in</a>

                    <a href="{{ path('app_register') }}"
                       class="border border-2 px-4 py-2 rounded-lg border-blue-200 bg-blue-100 text-blue-600 hover:bg-blue-400 hover:text-yellow-100 drop-shadow-xl"
                    >Register</a>
                </div>
            {% endif %}
        </div>

    </div>
</nav>
