
<div
        {{ stimulus_controller('markdown_editor') }}
>

    {{ form_start(form, {
        action: path('app_project_edit', { id: project.id }),
    }) }}

        {{ form_rest(form) }}

        <div class="text-end">
            <a href="{{ path('app_project_details', {id: project.id}) }}" class="btn-cancel">Cancel</a>
            <button class="btn-submit ml-2">Save</button>
        </div>

    {{ form_end(form) }}

</div>
