<div>
    <table class="table w-full">
        <tbody>
            <twig:Settings:Item
                :projectSettings="projectSettings"
                name="Landing page"
                property="landingPage"
                urlPrefix="https://pages.gprodb.com/"
                csrfName="landing-page"
                editAction="{{ path('app_settings_landing_page', {id: projectId}) }}"
                createAction="{{ path('app_settings_landing_page', {id: projectId}) }}"
                />

            <twig:Settings:Item
                :projectSettings="projectSettings"
                name="Custom domain"
                property="domain"
                urlPrefix="https://jsonhub.cloud/entities/"
                csrfName="domain"
                editAction="{{ path('app_settings_domain', {id: projectId}) }}"
                createAction="{{ path('app_settings_domain', {id: projectId}) }}"
                />

            <twig:Settings:Item
                :projectSettings="projectSettings"
                name="Newsletter"
                property="newsletter"
                urlPrefix="https://jsonhub.cloud/entities/"
                csrfName="newsletter-type"
                editAction="{{ path('app_settings_newsletter', {id: projectId, provider: projectSettings.newsletter ? projectSettings.newsletter.provider : null }) }}"
                createAction="{{ path('app_settings_newsletter', {id: projectId}) }}"
            />

        </tbody>
    </table>
</div>
