{% extends 'base.html.twig' %}

{% block body %}
    <twig:Center>
        <div class="w-1/2 mt-10">
            <h3>{{ project.name }}</h3>

            <div class="mt-5 mb-10">
                {{ include('project_details/_tabs.html.twig') }}
            </div>

            {{ include('project_details/' ~ template ~ '.html.twig') }}


{#            {% if tab == 'about' %}#}
{#                {{ include('project_details/_about.html.twig') }}#}
{#            {% elseif tab == 'links' %}#}
{#                {{ include('project_details/_links.html.twig') }}#}
{#            {% elseif tab == 'contact' %}#}
{#                {{ include('project_details/_contact.html.twig') }}#}
{#            {% elseif tab == 'settings' %}#}
{#                {{ include('project_details/_settings.html.twig') }}#}
{#            {% endif %}#}

            {#            <div class="mt-10 mb-10"> #}
            {#                <span class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"> #}
            {#                    Project tags: #}
            {#                </span> #}
            {#            </div> #}

        </div>
    </twig:Center>
{% endblock %}
